/preprocesseddata/
preprocesseddata/protein_graphs.pkl
/preprocesseddata
preprocesseddata/protein_features.npy
preprocesseddata/classified_sequences.txt
preprocesseddata/classified_sequences.txt
preprocesseddata/protein_features.npy
preprocesseddata/classified_sequences.txt
